body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  background-color: #eee;
  padding: 35px 30px;
}

.content {
  margin: 10px auto;
  max-width: 640px;
  text-align: center;
}

h1 {
  font-size: 58px;
}

input {
  font-size: 35px;
}
button {
  background: #4479BA;
  font-size: 25px;
  margin: 10px 15px;
  padding: 10px 15px;
  color: #FFF;
}

#results {
  font-size: 25px;
  padding: 30px 0px;
}
.temperature {
  font-size: 35px;
}
.pun-source {
  padding: 30px 0px;
  font-size: 15px;
}
